@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    PO BOX 111292<br />
    Carrollton, TX 75011-6399<br />
    <abbr title="Phone">Phone: </abbr>
    469.571.2916
</address>

<address>
</address>
