@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>A web app to allow users to train monsters to fight for them. The goal of the app is for users to have fun and try to become the best ASP.Net Monster Master in the world.</p>
